/**
 * main.css
 * ========
 *
 * This file contains all custom CSS for filmsbybeth.com.
 * It’s loaded after the @font-face declarations at the top of index.html,
 * and normalize.min.css.
 *
 * layout
 * utility
 * typography
 *
 * aside
 * blockquote
 * cards
 * button
 *
 * logo
 * header
 * showreel
 * about
 * films
 * contact
 * footer
 * popup
 */




/* layout */
body {
    margin: 0;
    padding: 0;
}

section {
    padding: 60px 10px 50px;
    margin: 0 auto;
    max-width: 1150px;
}
@media screen and (max-width: 1023px) {
    section { max-width: 700px; }
}
@media screen and (max-width: 500px) {
    section { max-width: 500px; }
}
section.fullwidth {
    max-width: 100%;
}

img,
video {
    max-width: 100%;
    height: auto;
}




/* utility */

.a11y {
    position: absolute!important;
    left: -10000px;
}
@media screen and (max-width: 1023px) {
    .hide-below-1024 { display:none; }
}
@media screen and (max-width: 500px) {
    .pull-up-below-500 { margin-top:-1em!important; }
}




/* typography */
body {
    font: 17px/23px 'Ubuntu', sans-serif;
    color: #030303;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, nav, aside {
    font-family: 'Autour One', sans-serif;
    text-transform: uppercase;
}

p, .cards p.card {
    font-size: 19px;
}
@media screen and (max-width: 1023px) {
    p, .cards p.card { font-size: 17px; }
}




/* aside */

aside {
    padding: 0;
    font: 24px/36px 'Autour One', sans-serif;
    text-align: center;
}
/* @media screen and (min-width: 1024px) {
    aside {
        font-size: 28px;
        line-height: 42px;
        padding: 0 80px;
    }
    #about aside {
        text-align: left;
        padding: 0;
    }
} */




/* blockquote */

blockquote {
    margin: 0;
}
blockquote p {
    font-style: italic;
    text-align: left!important;
}
blockquote footer {
    margin-top: -14px;
    text-align: right!important;
}
blockquote cite {
    font-style: normal;
    font-size: 14px;
}
blockquote cite .company {
    font-weight: bold;
}




/* cards */

.cards {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    font-size: 0;
}
#about.cards {
    flex-flow: row wrap;
    vertical-align: top;
}
.cards .card {
    flex: auto;
    width: 200px;
    margin: 20px;
    font-size: 17px;
}
/* .cards .card.big {
    width: 200%;
}*/
@media screen and (max-width: 1023px) {
    .cards .card.big { width: 200%; }
}
.cards .card.link {
    cursor: pointer;
    transition: opacity 0.3s;
}
.cards .card.link:hover,
.card a {
    text-decoration: none;
    color: inherit;
    outline: none!important; /* firefox */
}
.card b {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.card.hilite {
    margin-bottom: 40px;
    padding: 0 5px 5px 5px;
    background-color: black;
    color: #fff;
    /* outline: 7px solid #000; */
    /* outline-offset: 15px; */
}
.card.hilite strong {
    text-shadow: 0 0 10px #000, 0 0 10px #000;
}

/* Special, for 'WATCH SHOWREEL' */
@media screen and (max-width: 1023px) {
    .card.hilite { min-height: 300px; }
}
@media screen and (min-width: 501px) and (max-width: 1023px) {
    /* .card.hilite { display: none; } */
}




/* button */

button, .button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #eee!important;
    background: #030303;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s;
}
button.primary, .button.primary {
    margin: 40px 0;
    width: 300px;
}
button:hover, .button:hover {
    opacity: 0.8;
}
button:active, .button:active {
    opacity: 0.65;
}
button.invert, .button.invert {
    color: #030303;
    background: #fff;
}




/* logo and header */

#logo,
#header {
    position: fixed;
    font-size: 14px;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}
body.show-popup #logo,
body.show-popup #header {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s 0s;
}
#logo nav,
#header nav {
    display: table; /* browsers auto-insert a table-row */
    font-size: 1.5em; /* modified by @media, below */
    width: 100%;
}
body.allow-transitions #logo nav,
body.allow-transitions #header nav {
    transition: all 0.5s;
}
@media screen and (max-width: 1023px) {
    #logo nav, #header nav { font-size: 1.2em; }
}
@media screen and (max-width: 500px) {
    #logo nav, #header nav { font-size: 1.0em; }
}
#logo nav >span,
#header nav >span {
    display: table-cell;
    white-space: nowrap;
}

#logo nav >span a,
#header nav >span a {
    display: inline-block;
    padding: 0.35em 0.7em;
    color: inherit!important;
    text-decoration: none;
    transition: opacity 0.3s;
}
#logo nav >span a:hover,
#header nav >span a:hover {
    opacity: 0.6;
}




/* logo */

#logo {
    top: -0.5em;
    width: 0;
    transform: scale(0.27);
    z-index: 53;
}
body.scroll-top #logo {
    top: 3em;
    width: 100%;
    transform: scale(0.8);
    z-index: 51;
}
body.allow-transitions #logo {
    transition: top 0.5s, width 0.5s, transform 0.5s;
}
body.allow-transitions.scroll-top #logo {
    transition: top 0.5s, width 0.5s, transform 0.5s, z-index 0.5s step-end;
}
@media screen and (max-width: 1023px) {
    #logo { top: -0.4em; transform: scale(0.22); }
    body.scroll-top #logo { top: 3.2em; transform: scale(0.6); }
}
@media screen and (max-width: 500px) {
    #logo { top: -0.4em; transform: scale(0.2); }
    body.scroll-top #logo { top: -0.1em; transform: scale(0.6); }
}

#logo nav {
    text-align: center;
}

#logo svg {
    position: absolute;
    width: 400px;
/* background: #ccccff80; */
/* clip-path: @TODO */
}
body.allow-transitions #logo svg {
    transition: margin 0.5s;
}
#logo .line-1 svg { margin-left: -55px; margin-top: -106.7px; }
#logo .line-2 svg { margin-left: 275px; margin-top: -181.3px; }
@media screen and (min-width: 501px) { /* 37.3px, -37.3px */
    body.scroll-top #logo .line-1 svg { margin-left: -390px; }
    body.scroll-top #logo .line-2 svg { margin-left:  -58px; }
}
@media screen and (max-width: 500px) {
    body.scroll-top #logo .line-1 svg { margin: 0 0 0 -200px; }
    body.scroll-top #logo .line-2 svg { margin: 0 0 0 -200px; }
}


/* #logo .initials {
    display: none;
} */
@media screen and (max-width: 400px) {
    /* #logo .full { display: none; }
    #logo .initials { display: inline; } */
    /* body.scroll-top #logo .full { display: inline; }
    body.scroll-top #logo .initials { display: none; } */
}
/*
body.allow-transitions #logo a {
    transition: all 0.5s;
}
*/
@media screen and (max-width: 420px) {

    #logo path {
        opacity: 0;
    }
    body.allow-transitions #logo path {
        transition: opacity 0.5s;
    }
    body.scroll-top #logo path,
    #logo .initial,
    #logo .line-1 path.left-blob,
    #logo .line-2 path.right-blob {
        opacity: 1;
    }
    #logo .line-1 svg { margin-left: -60px; }
    #logo .line-2 svg { margin-left: 55px; }

    #logo .line-2 path.right-blob { transform: translateX(-680px); }
    body.scroll-top #logo .line-2 path.right-blob { transform: translateX(0); }
    body.allow-transitions #logo .line-2 path.right-blob {
        transition: translate 0.5s;
    }


}

body.scroll-top #logo a {
    cursor: default;
    opacity: 1!important;
}




/* header */

#header {
    width: 100%;
    background: #fff;
    z-index: 52;
}
#header nav {
    width: 100%;
}

#header nav span.icon-left-nav,
#header nav span.icon-right-nav {
    min-width: 2.8em;
    max-width: 2.8em;
}
body.allow-transitions #header nav span.left-nav,
body.allow-transitions #header nav span.right-nav {
    transition: width 0.5s;
}
#header nav span.left-nav {
    width: 100%;
}
#header nav span.right-nav {
    width: 0%;
}
@media screen and (max-width: 400px) {
    #header nav span.left-nav { width: 50%; }
    #header nav span.right-nav { width: 50%; }
}
body.scroll-top #header nav span.left-nav {
    width: 50%;
}
body.scroll-top #header nav span.right-nav {
    width: 50%;
}

#header nav span a svg {
    position: absolute;
    width: 1.5em;
    transform: translate(-0.1em, -0.8em);
}




/* showreel */

#showreel {
    margin-top: 7em;
    height: 60vh;
    transition: margin-top 0.5s, height 0.5s;
}
#showreel img,
#showreel video {
    height: 60vh;
    object-fit: cover;
    object-position: 50% 50%;
    transition: height 0.5s;
}
@media screen and (max-width: 1023px) {
    #showreel { margin-top: 6em; }
}
@media screen and (max-width: 500px) {
    #showreel { margin-top: 10em; height: 50vh; }
    #showreel img, #showreel video { height: 50vh; }
}



/* introduction */
/*
#introduction {
    text-align: center;
}
#introduction h1 {
    font-size: 5em;
    line-height: 1;
}
@media screen and (max-width: 1023px) {
    #introduction h1 { font-size: 3.6em; }
}
@media screen and (max-width: 500px) {
    #introduction h1 { font-size: 2.5em; }
}
*/



/* about */

#about {
    margin-top: -25px;
    padding-bottom: 0;
}
#about p {
    margin: 0 20px 40px;
    text-align: left;
}
#about .hilite {
    display: table;
    background-image: url(../img/showreel-2023-1350x1013.jpg);
    background-size: cover;
    background-position: center;
}
#about .hilite span {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
#about .hilite .button {
    display: inline-block;
    width: 160px;
    padding-right: 25px; /* add 5px for 'WATCH SHOWREEL' */
}
@media screen and (min-width: 501px) {
    /* #about p:nth-of-type(2) { transform: translateX(-10px); } */
}
@media screen and (max-width: 500px) {
    /* #about p { margin-bottom: 20px; }
    #about p.hilite { margin-top: 20px; } */
}




/* films */

#films .card {
    line-height: 18px;
}
#films .title {
    display: block;
    margin: 4px 0 0;
    font-weight: bold;
}




/* shows */

#shows h2 {
    margin-left: 20px;
    margin-right: 20px;
}
#shows .card {
    margin: 0 20px 0.5em 20px;
}
#shows .card b {
    font-size: inherit;
    line-height: 1.2;
}
#shows .card b.date {
    padding-right: 0.7em;
}
#shows .card b.description {
    display: block;
}
@media screen and (max-width: 500px) {
    #shows .card b.title {
        display: block;
    }    
}
#shows .card a {
    font-weight: bold;
}
#shows .card a:hover {
    opacity: 0.7;
}




/* contact */

#contact {
    text-align: center;
    padding: 0;
}




/* footer */

#footer {
    padding: 40px 10px 0;
    text-align: center;
    font-size: 14px;
}




/* popup */

body.show-popup {
    overflow: hidden;
}
#popup-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s 0s;
}
body.show-popup #popup-wrap {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
}
#popup-dismiss {
    position: fixed;
    top: -15px;
    right: 0;
    padding: 0 20px;
    font-size: 72px;
    cursor: pointer;
    opacity: 0;
    transform: scale(0);
    transition: color 0.8s, opacity 0.5s, transform 0.5s;
    z-index: 99;
}
#popup-dismiss:hover {
    color: red;
    transition: color 0.3s, opacity 0.5s, transform 0.5s;
}
body.show-popup #popup-dismiss {
    opacity: 1;
    transform: scale(1);
}
#popup-table {
    display: table;
    width: 100%;
    height: 100%;
}
#popup {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s, transform 0.5s;
}
body.show-popup #popup {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s, transform 0.5s;
}
#popup iframe {
    display: inline-block;
    background: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
