Maker Club:<br />
<a href="https://filmsbybeth.com/asset/thumb/maker-club-v3.jpg">Image</a><br />
<a href="https://vimeo.com/140979714">Vimeo</a>
<hr />

Hummingbird Project: Kemp Town Carnival:<br />
<a href="https://filmsbybeth.com/asset/thumb/hummingbird-project-v3.jpg">Image</a><br />
<a href="https://vimeo.com/170311823">Vimeo</a>
<hr />

Loop.Coop: Magnubbin Promo:<br />
<a href="https://filmsbybeth.com/asset/thumb/magnubbin-promo-v2.jpg">Image</a><br />
<a href="https://vimeo.com/138844210">Vimeo</a>
<hr />

Goodmoney CIC Explainer:<br />
<a href="https://filmsbybeth.com/asset/thumb/goodmoney-cic-v2.jpg">Image</a><br />
<a href="https://vimeo.com/128193517">Vimeo</a>
<hr />

Cult Milk: Monthly Milk Digital:<br />
<a href="https://filmsbybeth.com/asset/thumb/cult-milk-digital-v2.jpg">Image</a><br />
<a href="https://vimeo.com/143534577">Vimeo</a>
<hr />

Pop Up Brighton: Festiv_Alt:<br />
<a href="https://filmsbybeth.com/asset/thumb/pop-up-brighton-v2.jpg">Image</a><br />
<a href="https://vimeo.com/149901822">Vimeo</a>
<hr />

Brighton Fashion Week:<br />
<a href="https://filmsbybeth.com/asset/thumb/brighton-fashion-week-v3.jpg">Image</a><br />
<a href="https://vimeo.com/101250376">Vimeo</a>
<hr />

Responsible Travel Brand Film:<br />
<a href="https://filmsbybeth.com/asset/thumb/responsible-travel-brand-film-v2.jpg">Image</a><br />
<a href="https://vimeo.com/339122204">Vimeo</a>
<hr />

      </a></div>
Profits and Principles:<br />
<a href="https://filmsbybeth.com/asset/thumb/profits-and-principles-v2.jpg">Image</a><br />
<a href="https://vimeo.com/339125532">Vimeo</a>
<hr />

Basecamp Explorer, Kenya:<br />
<a href="https://filmsbybeth.com/asset/thumb/basecamp-explorer-kenya-v1.jpg">Image</a><br />
<a href="https://vimeo.com/284897495">Vimeo</a>
<hr />

Crowded Out:<br />
<a href="https://filmsbybeth.com/asset/thumb/crowded-out-v1.jpg">Image</a><br />
<a href="https://vimeo.com/277903355">Vimeo</a>
<hr />

Trip For A Trip, Swaziland:<br />
<a href="https://filmsbybeth.com/asset/thumb/trip-for-a-trip-swaziland-v1.jpg">Image</a><br />
<a href="https://vimeo.com/339716756">Vimeo</a>
<hr />

      </a></div>
Responsible Travel: Japan:<br />
<a href="https://filmsbybeth.com/asset/thumb/rt-japan-v1.jpg">Image</a><br />
<a href="https://vimeo.com/339136094">Vimeo</a>
<hr />

Responsible Travel: Finland:<br />
<a href="https://filmsbybeth.com/asset/thumb/rt-finland-v1.jpg">Image</a><br />
<a href="https://vimeo.com/339133976">Vimeo</a>
<hr />

Responsible Travel: Jordan:<br />
<a href="https://filmsbybeth.com/asset/thumb/rt-jordan-v1.jpg">Image</a><br />
<a href="https://vimeo.com/339137633">Vimeo</a>
<hr />

Responsible Travel: India:<br />
<a href="https://filmsbybeth.com/asset/thumb/rt-india-v1.jpg">Image</a><br />
<a href="https://vimeo.com/339716344">Vimeo</a>
<hr />

Me and You:<br />
<a href="https://filmsbybeth.com/asset/thumb/me-and-you-v1.jpg">Image</a><br />
<a href="https://vimeo.com/168131425">Vimeo</a>
<hr />

Kirra Sample:<br />
<a href="https://filmsbybeth.com/asset/thumb/kirra-sample-v1.jpg">Image</a><br />
<a href="https://vimeo.com/301456256">Vimeo</a>
<hr />

Fishbowl Film:<br />
<a href="https://filmsbybeth.com/asset/thumb/fishbowl-film-v2.jpg">Image</a><br />
<a href="https://vimeo.com/152641251">Vimeo</a>
<hr />

Devinir:<br />
<a href="https://filmsbybeth.com/asset/thumb/devinir-v1.jpg">Image</a><br />
<a href="https://vimeo.com/352498573">Vimeo</a>
<hr />

